table{box-shadow:0px 0px 10px #aaa;} /*sedikit bayangan yang soft*/
table th{
    padding:30px; 
    font-weight:bold; 
    background:#33B4E4; 
    color:#fff; 
    text-transform:uppercase;
}
table td{
    padding:10px 5px;
}

@media (max-width:700px){
    table,tbody,tr,td{
        display:block; 
        position:relative;
    }
    tr{border-bottom:3px solid #fff;}
    th{display:none;}
    td:before{
        display:block; 
        content:attr(data-content); 
        width:80px; 
        background:#33b4e4; 
        color:#fff; 
        text-transform:uppercase; 
        font-weight:bold; 
        height:100%; 
        line-height:40px; 
        position:absolute; 
        text-indent:0px; 
        padding:0px 10px;
    }
    td{
        text-indent:120px; /*disesuaikan dengan kebutuhan*/
        line-height:40px; /*line-height disamakan dengan td:before, supaya tampilan teksnya rata*/
        background:#f7f7f7;
    }
}